<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www/ultraq.net.nz/thymeleaf/layout"
        layout:decorate="template"
>
<head>
    <meta charset="UTF-8">
    <title>Vehicle List</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/card.css}" href="../static/css/card.css">
</head>
<body>
<div layout:fragment="page_content">
    <div class="container mt-5 border">
        <div class="col-4 border">
            <h4>Recherceh Avancée</h4>
            <h5>Catégorie du véhicule</h5>
            <div class="ml-2">
                <input type="checkbox" name="" th:text="" th:value="">Véhicules Standards
            </div>
            <div class="ml-2">
                <input type="checkbox" name="" th:text="" th:value="">Véhicules Utilitaires
            </div>
            <div class="ml-2">
                <input type="checkbox" name="" th:text="" th:value="">Véhicules Prestiges
            </div>
            <div class="col-auto">
            <h5>Agence</h5>
            <select class="form-select" type="text" id="city" name="city" >
                    <option selected>Ville de départ</option>
                    <option value="PARIS">Paris</option>
                    <option value="LYON">Lyon</option>
                    <option value="BORDEAUX">Bordeaux</option>
                    <option value="LILLE">Lille</option>
                    <option value="TOULOUSE">Toulouse</option>
                    <option value="STRASBOURG">Strasbourg</option>
                    <option value="NICE">Nice</option>
                    <option value="MARSEILLE">Marseille</option>
                </select>
            </div>
            <h5>Nombre de places</h5>
            <div class="ml-2">
                <input type="checkbox" name=""th:text="" th:value="">2 places
            </div>
            <div class="ml-2">
                <input type="checkbox" name="" th:text="" th:value="">5 places
            </div>
            <div class="ml-2">
                <input type="checkbox" name="" th:text="" th:value="">7 places
            </div>
        </div>
        <div class="col-8">
            <th:text th:value="${reservation.getStartDate()}"></th:text>
            <div th:each="vehicle:${availableVehicles}">
                <form th:action="@{/saveReservation}" method="post" th:object="${vehicle}">
                    <div class="row" id="ads">
                        <!-- Category Card -->
                        <div class="col-md-4">
                            <div class="card rounded">
                                <div class="card-image">
                                    <!--<span class="card-notify-badge">Low KMS</span>
                                    <span class="card-notify-year">2018</span>-->
                                    <img class="img-fluid"
                                         src="https://imageonthefly.autodatadirect.com/images/?USER=eDealer&PW=edealer872&IMG=USC80HOC011A021001.jpg&width=440&height=262"
                                         alt="Alternate Text"/>
                                </div>
                                <div class="card-image-overlay m-auto">
                                    <span class="card-detail-badge" th:text="${vehicle.priceCoeff}"></span>
                                    <span class="card-detail-badge" th:text="${vehicle.gearbox}"></span>
                                </div>
                                <div class="card-body text-center">
                                    <div>
                                        <h5 th:text="${vehicle.brand} + ' ' + ${vehicle.model}">test</h5>
                                    </div>
                                    <input type="hidden" th:name="refVehicle" id="refVehicle" th:value="${vehicle.refVehicle}"></input>
                                    <input type="hidden" th:name="brand" id="brand" th:value="${vehicle.brand}"></input>
                                    <input type="hidden" th:name="model" id="model" th:value="${vehicle.model}"></input>
                                    <input type="hidden" th:name="vehicleType" id="vehicleType" th:value="${vehicle.vehicleType}"></input>
                                    <input type="hidden" th:name="gearbox" id="gearbox" th:value="${vehicle.gearbox}"></input>
                                    <input type="hidden" th:name="nbSeats" id="nbSeats" th:value="${vehicle.nbSeats}"></input>
                                    <input type="hidden" th:name="nbDoors" id="nbDoors" th:value="${vehicle.nbDoors}"></input>
                                    <input type="hidden" th:name="volume" id="volume" th:value="${vehicle.volume}"></input>
                                    <input type="hidden" th:name="priceCoeff" id="priceCoeff" th:value="${vehicle.priceCoeff}"></input>
                                    <!--<input type="hidden" th:name="reservation" id="reservation" th:field="${reservation}"></input>-->
                                    <button type="submit" class="btn btn-primary">Réserver</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>